// @media all and (max-width: 1299px){
//   #wrap #header .announcement,  
//   #wrap #header .menu {width:80%;}

//   #wrap #header .menu .menu-container .bottom-menu #all-menu {
//     justify-content:flex-end;
//     > ul {display:none;}
//     .mobile-menu {display:block;margin:0 20px;}
//   }  
// }